Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Middle
ReflowComments: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesBeforeTrailingComments: 1
FixNamespaceComments: true
ShortNamespaceLines: 5
...
